body {
    padding: 0px;
    margin:0px;
    width: 100;
    background-color: #ff7700 ;
 }
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.egitim1 h2{
    text-align: left;
    position: absolute;
    top: 40%;
    left: 25%;
      
}
.egitim1 h3{
    text-align: left;
    position: absolute;
    top: 40%;
    right: 25%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.arkaplan{
    top: 50%;
    position: absolute;
    left: 20%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;  
}
.arkaplann{
    top: 0%;
    position: absolute;
   left: 295%;
   font-size: 20px;
   font-family: cursive;

}
#sbox {
    max-width: 300px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#sbox .fa-search {
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 20px;
    color:cornflowerblue;
}
 
#search {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
    font-size:18px;
    padding: 12px 20px 12px 40px;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
 
#search:focus {
    width: 100%;
}