body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2c3e50;
}
.sidebar{
    width: 330px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2c3e50;
    text-align: center;
}
.sidebar input[type="text"], .sidebar input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #27ae60;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25%;
}
.sidebar h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.sidebar input[type="text"]:focus, .sidebar input[type="password"]:focus{
    width: 260px;
    border-color: #2ecc71;
}
.sidebar input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 30px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25%;
    cursor: pointer;
}
.sidebar input[type="submit"]:hover{
    background: #27ae60;
}
.google-maps {
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
    top: 20%;
    left: 5%;
}
.google-maps iframe {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 25%;
    height: 250%;
}
#sbox {
    max-width: 300px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#sbox .fa-search {
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 20px;
    color:cornflowerblue;
}
 
#search {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
    font-size:18px;
    padding: 12px 20px 12px 40px;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
 
#search:focus {
    width: 100%;
}